{% extends 'layout.twig' %}

{% block content %}
  <div class="sidebar-content page-product-list">
    <h1 id="page-title">{{ title }}</h1>

    <div class="row layout-mobile">
      <div class="col-md-2 sidebar-left">
        {% include ["woo/sidebar-product.twig"] %}
      </div>

      <div class="col-md-10 main-content">
        {% do action('woocommerce_before_main_content') %}

        <div class="before-shop-loop">
          {% do action('woocommerce_before_shop_loop') %}
        </div>

        <div class="loop product-list">
          <div class="row">
            {% for post in products %}
              {% include ["woo/tease-product.twig"] with {'post_class': 'post-item col-md-3'} %}
            {% endfor %}
          </div>
        </div>

        {% do action('woocommerce_after_shop_loop') %}
        {% do action('woocommerce_after_main_content') %}
      </div>
    </div>
  </div>
{% endblock  %}