{% block html_head_container %}

{% include 'common-header.twig' %}

    {% block head %}

    {% endblock %}

</head>

{% endblock %}

  <body class="{{ body_class }}" data-template="base.twig">

    <div class="page-wrapper">

      {% block header %}
        {% include 'header.twig' %}
      {% endblock %}

      {% block feature %}
        {% include 'feature.twig' %}
      {% endblock %}

      <main role="main">
        {% block content %}
          {{context}}
        {% endblock %}
      </main>


      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}


      {% block footer_scripts %}

      {% endblock %}

      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&#38;key={{ google_api_key }}&#38;libraries=places" type="text/javascript"></script>
    </div>
  </body>
</html>
