{% extends 'layout.twig' %}

{% block content %}
  <div class="row">
    <div class="col-md-12 main-content">
      <div class="block-404">
        <div class="block-404__content">
          <h2 class="block-404__title">{{ __('Page not found', 'ffw_theme') }}</h2>
          <div class="block-404__text">{{ __("The page you are looking for doesn't exist or has been moved.
          ", 'ffw_theme' ) }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
