<div class="block-bottom-panel block-map {{ component_class }}">
  <div class="google-build-map" style="width: 100%; height: 435px;">
    <div class="marker" data-lat="{{ map_block_embed.lat }}" data-lng="{{ map_block_embed.lng }}">
      <div class="address">{{ map_block_embed.address }}</div>
    </div>
  </div>
</div>